:root {
    --primary: #1D3557;
    --secondy: #457B9D;
    --third: #A8DADC;
    --fourth: #F1FAEE;
    --fifth: #E63946;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
    direction: rtl;
}

@font-face {
    font-family: "cairo";
    src: url(../fonts/Cairo-Regular.ttf);
}

body {
    background-color: var(--fourth) !important;
    font-family: "cairo" !important;
}

header {
    background-color: var(--third);
}

span {
    color: var(--fifth);
}

a,
ul {
    color: var(--primary) !important;
    transition: 0.3s !important;
}

#logo {
    font-size: 30px;
}

a:hover,
ul:hover {
    color: var(--fourth) !important;
}

button {
    transition: 0.3s !important;
}

button:hover {
    transform: scale(1.1);
}

@media (max-width: 575.98px) {
    header {
        padding: 0 10px;
    }
}

p,
button {
    text-transform: capitalize;
}

section:first-of-type {
    background-image: url(../images/1.png);
    background-repeat: no-repeat;
    border-radius: 4px;
    background-size: cover;
    max-width: 100%;
    padding: 5%;
    height: 400px;
}

section:first-of-type .container {
    position: relative;
}


section:first-of-type .container .img img {
    animation: up-down 2s linear infinite;
    position: absolute;
    top: 0;
    left: 100px;
    width: 300px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    section:first-of-type .container .img img {
        width: 40% !important;
        top: 0;
        left: 0;
        animation: up-down 3s linear infinite;
    }

    @keyframes up-down {

        0%,
        100% {
            top: 40%;
        }

        50% {
            top: 0%;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    section:first-of-type .container .img img {
        width: 40% !important;
        top: 0;
        left: 0;
        animation: up-down 2s linear infinite;
    }

    @keyframes up-down {

        0%,
        100% {
            top: 20%;
        }

        50% {
            top: 0%;
        }
    }
}

@media (max-width: 575.98px) {
    section:first-of-type {
        margin-top: 0 !important;
        display: flex;
        color: white !important;
        align-items: center;
    }

    section:first-of-type .container .img img {
        display: none;
    }

    section:first-of-type .container .text {
        text-align: center;
        width: 100%;
    }

    section:first-of-type .container .text h1 {
        font-weight: 600 !important;
    }
}

a {
    text-transform: capitalize;
}

ul li{
    font-size: 15px !important;
}

@media (max-width: 575.98px) {
    .button{
        text-align: center;
    }
}

.card img {
    width: 80%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.sec2 h3 {
    border: 2px solid black;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.sec2 h3::before,
.sec2 h3::after {
    content: "";
    background: var(--bs-primary);
    width: 12px;
    height: 12px;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.sec2 h3::before {
    left: -30px;
}

.sec2 h3::after {
    right: -30px;
}

.sec2 h3:hover:before {
    z-index: -1;
    animation: left-in 0.5s linear forwards;
}

.sec2 h3:hover:after {
    z-index: -1;
    animation: right-in 0.5s linear forwards;
}

.sec2 h3:hover {
    color: white;
    border-color: white;
    transition-delay: 0.5s;
}

.sec2-2 {
    background-color: var(--third);
    padding: 1px;
    margin-top: 50px !important;
}

#about{
    margin-bottom: 30px;
}

/* start animation */

@keyframes up-down {

    0%,
    100% {
        top: 5%;
    }

    50% {
        top: -10%;
    }
}

@keyframes left-in {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes right-in {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

/* annonymus class for js */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.popup-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10001;
    color: black;
    width: 50% !important;
    background: linear-gradient(to top, #7579ff, #b224ef);
    min-height: 70%;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 20px;
}

@media (max-width: 575.98px) {
    .popup-box {
        width: 80% !important;
    }
}

.popup-box a {
    text-align: center;
    margin: 10px 0;
}

.popup-box .card-title img {
    width: 30%;
    align-self: center;
}

.popup-box .input,
.popup-box .card-title {
    display: flex;
    flex-direction: column;
}

.popup-box .input input {
    border: none;
    outline: none;
    background: none;
    color: white;
    transition: 0.3s;
    border-bottom: 2px solid #ffffff3d;
}

.popup-box .input input::placeholder {
    color: white;
}

.popup-box .input input:focus {
    border-bottom-color: rgba(255, 255, 255, 1);
}

.popup-box .input input:focus::placeholder {
    opacity: 0;
}

.popup-box .input button {
    width: 90%;
    text-transform: capitalize;
    margin-top: 20px !important;
}


.popup-box h2 {
    text-align: center;
    text-transform: capitalize;
}

.popup-box input {
    width: 100%;
    margin: 10px 0;
    padding: 7px;
}

.popup-box #close1 {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: white;
    background: black;
    top: 0;
    position: absolute;
    right: 0;
    width: 25px;
    cursor: pointer;
}

.popup-box #close2 {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: white;
    background: black;
    top: 0;
    position: absolute;
    right: 0;
    width: 25px;
    cursor: pointer;
}



.info {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.info-text {
    margin-left: 10px;
}

.info-text p {
    color: var(--secondy);
}

.info img {
    width: 25%;
}

.timer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary);
    color: white;
    margin-top: 10px;
}

.timer-content i {
    box-shadow: 0 0 10px;
    border-radius: 34px;
    padding: 10px;
    margin: 0 10px;
    font-size: 30px;
    color: white;
}

.timer-content i:last-of-type {
    padding: 10px 20px;
}

@media (max-width: 575.98px) {
    .info {
        flex-direction: column;
    }

    .info img {
        width: 100%;
        margin-bottom: 10px !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {}

#see-more {
    font-size: 25px;
}

#sec3 {
    background-color: var(--third);
}

#container2 {
    margin-top: 10px;
}

@media (max-width: 575.98px) {
    .flex-colum {
        flex-direction: column;
    }

    .width-90 {
        width: 90% !important;
    }

    .width-100 {
        width: 100% !important;
    }
        .dropstart {
            margin: 10px 20px;
        }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .flex-colum {
        flex-direction: column;
    }

    .width-90 {
        width: 90% !important;
    }

        .dropstart {
            margin: 10px 20px;
        }

}

#map {
    box-shadow: 0 0 10px var(--secondy);
}

@media (max-width: 575.98px) {
    #map {
        flex-direction: column !important;
        box-shadow: 0 0 10px var(--secondy);
    }

    #map iframe {
        width: 85% !important;
        margin-bottom: 20px;
    }

    #container3 .text-as-logo {
        margin: 20px 0 30px;
    }

    #container3 .links {
        text-align: start;
    }

    #container3 .links ul li {
        padding: 0 0 10px;
    }

    #container3 #flex-dir {
        flex-direction: column;
        text-align: center;
    }
#whatsapp {
    width: 15% !important;
}
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #whatsapp {
        min-width: 7% !important;
    }
}

footer {
    background-color: var(--primary);
    margin: 30px 0 0;
}

footer ul li {
    padding: 10px 0;
    width: 101px;
}

#container3 {
    margin: 50px auto 0;
}

#contact {
    margin-top: 15px;
}

#btn {
    position: fixed;
    padding: 10px 10px 5px;
    background-color: var(--third);
    clip-path: circle();
    border: none;
    text-align: center;
    font-size: 40px;
    right: 10px;
    bottom: 0;
    cursor: pointer;
    color: white;
    display: none;
}

#whatsapp {
    position: fixed;
    width: 5%;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: none;
}